body {
    background-image: url('../img/pattern.jpg');
}

.navbar {
      overflow: hidden;
      background-color: fffff;
      position: fixed;
      top: 0;
      width: 100%;
    }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: #ffffff;
  
}


div
    {
        background-color: white;
        width: 75%;
        margin: auto;
        padding: 10px;
        margin-bottom: 10px;
    }

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
  text-align: left;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  text-align: justify;
  font-size: 14px;
}

footer{
  font-family: 'Libre Franklin', sans-serif;
  background-color: grey;
  color: white;
  font-size: 18px;
  text-align: center;
  height: 50px;
}